<div class="row">
    <div class="span3">

        <!-- // Logo // -->

        <a href="{{ path('sas_front_homepage') }}" id="logo">
            {% set runtimeConfig = {"thumbnail": {"size": [220, 40] }} %}
            <img src="{{ 'images/logo.png' | imagine_filter('my_thumb', runtimeConfig) }}" />
        </a>

    </div><!-- end .span3 -->
    <div class="span9">

        <!-- // Mobile menu trigger // -->

        <a href="#" id="mobile-menu-trigger">
            <i class="fa fa-bars"></i>
        </a>

        <!-- // Custom search // -->

        <form action="#" id="custom-search-form" method="get" role="search">
            <input type="text" value="" name="s" id="s" placeholder="type and press enter to search...">
            <input type="submit" id="custom-search-submit" value="">
        </form>

        <a id="custom-search-button" href="#"></a>

        <!-- // Menu // -->

        <ul class="sf-menu fixed" id="menu">
            <li class="current">
                <a href="{{ path('sas_front_homepage') }}"> {{ 'sas.menu.homepage'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('sas_front_about') }}">{{ 'sas.menu.about' |trans }}</a>
            </li>
            <li class="dropdown">
                <a href="#">{{ 'sas.menu.services'|trans }}</a>
                <ul>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Single service</a>
                    </li>
                </ul>
            </li>

            <li >
                <a href="#">{{ 'sas.menu.gallerie'|trans }}</a>

            </li>
            <li>
                <a href="#">{{ 'sas.menu.contact'|trans }}</a>
            </li>
        </ul>

    </div><!-- end .span9 -->
</div><!-- end .row -->
